
/* Paleta de colores New Concept */
:root {
    --color-primary: #2C2A29;
    --color-secondary: #F4F5F0;
    --color-tertiary: #9B9A97;
    --color-quaternary: #F96714;
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(29, 29, 27);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Estilos para centrar la imagen en el centro de la pantalla */
.page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 6em;
}

.line {
    height: 2px;
    width: 20%;
    background-color: var(--color-quaternary);
    margin: 20px auto;
    position: relative;
}

.socialWall-container {
    position: relative;
    z-index: 1000;
}

.socialWall-container a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.socialWall-container a:hover, .socialWall-container a:focus {
    transform: scale(1.1);
}

.logo__container img {
    max-width: 100%;
    height: auto;
}

.logo__container:hover {
    padding: 1em;
}

@keyframes palpitar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}


@keyframes illuminate {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5) sepia(1) hue-rotate(-30deg) saturate(10);
    }
    100% {
        filter: brightness(1);
    }
}

@keyframes teleport {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.info__container img {
    opacity: 0; /* Ocultar imágenes inicialmente */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

.info__container img.teleport {
    animation: teleport .2s ease-in-out forwards; /* Animación más suave */
}

.info__container img.illuminate {
    animation: illuminate 1s ease-in-out forwards;
}

.explode {
    animation: explode 0.9s forwards;
}

.logo__container img {
    max-width: 100%;
    height: auto;
    animation: palpitar 2s ease-in-out infinite;
}

.info__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    pointer-events: all;   
}

.info__container h1 {
    color: var(--color-secondary);
    font-size: 2.5em;
}

.info__container p {
    color: var(--color-tertiary);
    font-style: italic;
    font-size: 1.5em;
}

.info__container img {
    max-width: 40px;
    margin: 10px;
    filter: invert(1);
}

.logo__container.explode + .info__container {
    opacity: 1;
    pointer-events: all;
}




@media (max-width: 760px) {
    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ajusta este valor según sea necesario */
        width: 100vw;
        margin-bottom: 15vh;
    }
    .logo__container img {
        width: 80vw; /* Ajusta este valor según sea necesario */
        height: auto; /* Mantén la proporción de la imagen */
        max-width: none; /* Asegúrate de que la imagen no esté limitada por un max-width */
    }

    .info__container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
        
        pointer-events: all;        
    }

    .info__container h1 {
        font-size: 1.4em;
    }

    .info__container p {
        font-size: 1.1em;
    }

    .info__container img {
        max-width: 30px;
        margin: 0;
        margin-top: 10px;
    }

    .line {
        width: 50%;
    }
}
    
