.products-section-title {
    font-style: italic;
    padding: .5em 0;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 2rem;
    color: var(--color-contentBw);
    font-family: var(--font-main);
}
.products-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    direction: ltr;
}
.products-card {
    border-radius: 8px;
    overflow: visible; /* Cambiado de hidden a visible */
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding-right: 2em;
    padding-left: 2em;
    width: 22vw;
    opacity: 0;
    transform: translateX(-20px);
}
.products-card.visible {
    opacity: 1;
    transform: translateX(0);
}
.products-card img {
    width: 100%;
    height: 15vh;
    filter: brightness(90%);
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), filter 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.products-card img:hover {
    transform: translateY(-10px);
    filter: brightness(100%) drop-shadow(0 0 3px rgba(0, 0, 0, 0.815));
}
.products-card-body {
    padding: 10px;
    text-align: center;
}
.products-card-title {
    font-family: var(--font-main);
    color: var(--color-contentBw);
    font-size: 1.2em;
    margin-top: 1em;
}
.products-card-text {
    color: var(--color-links);
}
.products-card.visible-normal {
    opacity: 1;
    transform: translateX(0);
    transition-delay: var(--delay);
}
@media (max-width: 768px) {
    .products-container {
        width: 100%;
        gap: 20px;
    }
    .products-card {
        width: 60vw;
        padding-right: 1em;
        padding-left: 1em;
    }
    .products-card img {
        height: 20vh;
    }
    .products-card-title {
        font-size: 1.1em;
    }
    .products-section-title {
        font-size: 1.5rem;
    }
}
